@import "./module";
@import "./mixin";

// header
header{
    @extend .flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    height: 92px;
    font-size: 21px;
    // left
    .left{
        @extend .flex;
        gap: 10px;
        .hamburger-menu{
            padding: 5px;
            i{
                @extend .icon;
            }
    }
    img,span{
cursor: pointer;
    }
    .logo-text{
        @include laptop{
            display: none;
        }
    }
}

// middle
.middle{
    width: 100%;
    form{
    @extend .flex;
    justify-content: space-between;
    background-color: $search-input;
    padding: 6px 10px;
    border-radius: 30px;
    max-width: 560px;
    @include laptop{
        flex: 1 !important;
    }
    .search{
        @extend .flex;
        gap: 10px;
        input{
            border: none;
            outline: none;
            width: 450px;
            background: transparent;
            font-size: 18px;
        }
        i{
            @extend .icon;
            @include laptop{

            }
        }
    }
    .settings{
        i{
            @extend .icon;
            @include laptop{
                display: none !important;
            }
        }
    }
}
}
// right
.right{
    @extend .flex;
    gap: 10px;
    i{
        @extend .icon;
        @include laptop{
            display: none !important;
        }
    }
    img{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        @include laptop{
            display: none;
        }
    }
}
}