// google fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// scss import
@import "./variables";
@import "./header";
@import "./module";
@import "./nav";
@import "./main";
@import "./modal";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "Roboto", sans-serif;
    background: $nav-background;
}

section{
    display: flex;
    gap: 20px;
}

.hide{
    .create span,.nav-middle span,.nav-bottom span{
        display: none;
    }
   
}